nav {
    padding-top: 20px;
    padding-bottom: 10px;
    background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: #FDFEFE;
    max-height: 30px;
}

.left {
    display: inline-block;
    width: 30vw;
    min-width: 515px;
    text-align: left;
    padding-left: 15%;
}

.middle {
    text-align: center;
    float: left;
    position: absolute;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
}

.right {
    display: inline-block;
    width: 30vw;
    min-width: 515px;
    text-align: right;
}

li {
    padding-left: 15px;
    display: inline;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

a, span {
    margin-left: 2%;
    color:#FDFEFE;
    opacity: .80;
}

a.active {
    font-weight: bold;
    font-size: 1.5em;
    color: #00C9FF;
    opacity: 1;
}

a {
    transition: color 1s ease;
}

a:hover {
    color: #00C9FF;
}

div .home {
    text-decoration: none;
    white-space: nowrap;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: inline-block;
}
